{% extends "final_app/main.html" %}
{% load static %}

{% block content %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Person Information Form</title>
    <link rel="stylesheet" href="{% static 'final_app/page.css' %}">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h2>Enter Login Information</h2>
            <form id="personForm1">
                <label for="name">Username:</label>
                <input type="text" id="name1" name="name" placeholder="Enter username" required>
                
                <label for="password">Password:</label>
                <input type="text" id="password" name="password" placeholder="Enter password" required>
                
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>
{% endblock %}